{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}

{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">

{% endblock %}


{% block content %}

<div class="container-fluid mt-5" id="allsources" >
    <div class="row">
        <br>
        {% for article in articles %}
        <div class="col-lg-4">
            <div class="card my-2">

                <img class="card-img-top" src="{{article.url_image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <h5 class="card-text">{{article.description}}</h5>
                    <p class="card-text">{{article.publish_date}}</p>
                    <a href="{{article.url}}" target="_blank" class="btn btn-primary">Read Article</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}